.loaderRemove{
    margin-bottom: -12px;
    display:none;
}

.loaderAdd{
    margin-bottom: -12px;
    display:inline;
}

h1
{
    margin: 0 auto;
    width: 25%;
}

.imageLabel{
    font-weight: bold;
    color: red;
    padding-left: 10px;
    font-size: 18px;
}

.imageBox{
    background: #F7F7F7;
    padding: 60px;

}


.imageList
{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse:collapse;
    margin: 0 auto;
}
.imageList td, #customers th 
{
    font-size:1.2em;
    border:1px solid #30C29E;
    padding:3px 7px 2px 7px;
}
.imageList th 
{
    font-size: 18px;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#30C29E;
    color:#fff;
    text-align: center;
}
.imageList tr.alt td 
{
    color:#000;
    background-color:#EAF2D3;
}

.delete {
    text-align: center;
}


.imageForm{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.imageForm h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.imageForm input[type="text"],
.imageForm input[type="date"],
.imageForm input[type="datetime"],
.imageForm input[type="email"],
.imageForm input[type="number"],
.imageForm input[type="search"],
.imageForm input[type="time"],
.imageForm input[type="url"],
.imageForm input[type="file"],
.imageForm textarea,
.imageForm select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 90%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.imageForm input[type="text"]:focus,
.imageForm input[type="date"]:focus,
.imageForm input[type="datetime"]:focus,
.imageForm input[type="email"]:focus,
.imageForm input[type="number"]:focus,
.imageForm input[type="search"]:focus,
.imageForm input[type="time"]:focus,
.imageForm input[type="url"]:focus,
.imageForm input[type="file"],
.imageForm textarea:focus,
.imageForm select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

.imageForm input[type="submit"],
.imageForm input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 90%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}
.imageForm input[type="submit"]:hover,
.imageForm input[type="button"]:hover{
    background: #2EBC99;
}